@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.Extensions.Configuration
@inject IConfiguration configuration

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1 class="display-4">The company name is : @configuration["CompanyName"]</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
